*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
h1{
    font-size: 24px;
    text-align: center;   
}

#botonCarrito{
    background-color: #918e8e;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    border: 3px solid #fff;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#carritoOculto {
    position: fixed;
    top: 0;
    right: -400px; /* fuera de la pantalla */
    width: 400px;
    height: 100%;
    background: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    padding: 20px;
    overflow-y: auto;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
}


#carritoOculto.visible {
    right: 0;
}

#cerrarCarrito {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.item-carrito {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.item-carrito img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.item-carrito span {
    flex: 1;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card{
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
    text-align: center;
}

.boton-agregar{
    background-color: #918e8e;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    border: 3px solid #fff;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.img{
    width: 80px;
    height: 80px;
}

.precio{
    padding: 5px;
}
.cantidad{
    padding: 5px;
}

.boton-eliminar{
    background-color: #918e8e;
    border: none;
    color: #fff;
    padding: 5px;
    text-align: center;
    border: 3px solid #fff;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}

.boton-vaciar{
    background-color: #918e8e;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    border: 3px solid #fff;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.boton-terminar-compra{
    background-color: #918e8e;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    border: 3px solid #fff;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

